<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Address</title>
</head>
<body>
    <h2>Email address</h2>
    <form action="/login" method="POST">
        <input type="email" id="email" name="email" required><br><br>
        <p>We'll never share your email with anyone.</p>
        <button style="background-color: blue" style="color:white" type="submit">Submit</button>
    </form>
</body>
</html>